.DS_Store
FedML/
config/
PFL-Non-IID/
3DFed/
OOD_Federated_Learning/
RLBackdoorFL/
__pycache__/
*.pyc
saved_models/
.data/
wandb/
*.zip
exps/run*
env-variables.md
synthesizers/checkpoint/
synthesizers/atkmodel/